*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress{
    position: relative;
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    background: conic-gradient(teal 20deg, #eee 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress::before{
    content: "";
    position: absolute;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    background-color: #eee;
}

.progress span{
    position: relative;
    font-size: 1.2rem;
}