*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color: #fff;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.container{
    max-width: 430px;
    margin: 0 auto;
}

.card{
    position: relative;
    background-color: #fff;
    border: 1px solid black;
    margin: 1.2rem 0;
    padding: 1.5rem;
    border-radius: .6rem;
    transition: all 0.3s ease;
}

.card__title{
    margin: .4rem;
    font-size: 1.4rem;
}

.card__content{
    display : none;
    margin: 1rem 0 0;
    font-size: 1.1rem;
}

.card__toggler{
   width: 1.8rem;
   height: 1.8rem;
   position: absolute; 
   top: 1.9rem;
   right: 1.9rem;
   cursor: pointer;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: transparent;
   border: 0;
}

.card__icon{
    width: 100%;
    height: 100%;
}

.card__icon_close{
    display: none;
}

.card_active{
    background-color: antiquewhite;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.card_active .card__content{
    display: block;
}

.card_active .card__icon_chevron{
    display : none
}

.card_active .card__icon_close{
    display: block;
}

.card_active .card__toggler{
    background-color: bisque;
    border: 1px solid black;
}